[submodule "Testing/CAN/src/FlexCAN_Library"]
	path = Testing/CAN/src/FlexCAN_Library
	url = https://github.com/SystemsCyber/FlexCAN_Library.git
[submodule "Testing/CAN_Web_Server/src/FlexCAN_Library"]
	path = Testing/CAN_Web_Server/src/FlexCAN_Library
	url = https://github.com/SystemsCyber/FlexCAN_Library.git
